@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Rubik+Mono+One&family=Share+Tech+Mono&display=swap');
/* font-family: 'Rubik Mono One', sans-serif; */
/* font-family: 'JetBrains Mono', monospace;  */
/* font-family: 'Share Tech Mono', monospace; */

body {
   text-align: center;
   /* font-family: 'JetBrains Mono', monospace; */
   font-family: 'Share Tech Mono', monospace;
}

h1 {
   font-size: 50px;
   font-weight: bolder;
   font-family: 'Rubik Mono One', sans-serif;
}